DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=nombre_base_visitas
DB_USER=root
DB_PASS=

DB_MENU_HOST=127.0.0.1
DB_MENU_PORT=3306
DB_MENU_NAME=usuarios_menu
DB_MENU_USER=root
DB_MENU_PASS=

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=correo@example.com
MAIL_PASS=clave_correo
MAIL_NAME=CENGICANA
